WRONGPW RCDATA "WAV\wrongpw.WAV"
WHOOSH RCDATA "WAV\whoosh.WAV"
BLING RCDATA "WAV\bling.WAV"
CLICK RCDATA "WAV\click.WAV"
BACKUPDB RCDATA "WAV\backupDB.WAV"

SQLITE3DLL64BIT RCDATA "DLL\sqlite3.DLL"
SSLEAY32 RCDATA "DLL\ssleay32.DLL"
LIBEAY32 RCDATA "DLL\libeay32.DLL"

DSGVO RCDATA "PDF\dsgvo.pdf"
DSGVOHINWEIS RCDATA "PDF\Hinweis zum Schutz personenbezogener Daten.pdf"
HILFE RCDATA "HTML\hilfe.html"

STAATEN RCDATA "CSV\staaten.csv"